#menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #00ADBB;

    font-size: 20px;

    transition: 1.3s transform ease-in-out;

    overflow: auto;

    z-index: 2;

    &:not(.open) {
        transform: translateY(-100%);
    }

    .menu-link,
    .menu-close-button {
        display: block;
        color: #fff;
    }

    .menu-close-button {
        text-align: right;

        padding-top: 2rem;
        padding-right: 2rem;
    }

    .menu-link {
        display: block;

        padding: 1rem 2rem;

        border-bottom: 1px solid rgba(#fff, .3);
    }
}
