body {
    transition: 300ms padding-top ease-in-out;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    transition: 300ms height ease-in-out;

    z-index: 1;

    .container-fluid,
    .container-fluid > .row,
    .logo-container,
    .right-column,
    .menu-dropdown-button,
    .phone-button,
    .contact-button {
        height: 100%;
    }

    .right-column .row {
        height: 50%;
    }

    .logo-container {
        background-color: #231F20;

        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .menu-dropdown-button {
        background-color: #ADADAD;

        img {
            height: 19px;
            transform: translateY(-25px);
        }

        span {
            display: inline-block;
            color: #fff;
            font-size: 22px;
        }
    }

    .phone-button {
        background-color: #D2D2D2;
    }

    .contact-button {
        background-color: #E8E8E8;
    }

    .phone-button,
    .contact-button {
        img {
            height: 22px;

            max-width: 100%;
            max-height: 100%;
        }
    }
}
