@import '../variables';
@import '../mixins';

.page.page-about {
    padding-bottom: 0;

    > section:nth-child(2n) {
        background-color: #F4F4F4;
    }

    .section-header {
        @include bg-gradient;

        overflow: hidden;

        .image-about-2 {
            margin-top: 50%;
        }

        .image-onsite-2 {
            margin-top: 100%;
        }
    }

    .section-history {
        .crowd-1 {
            margin-top: 95%;
        }

        h1 {
            margin-top: 18rem;
        }
    }

    .client-logos-column {
        padding: 0 2px;

        &:nth-child(even) {
            padding-top: 7rem;
        }

        .slide-in-up {
            transition: 1s transform ease-in-out;

            &:not(.activated) {
                transform: translateY(100%);
            }
        }
    }

    .client-logo-container {
        @media (min-width: 0) {
            height: 400px;

            margin-bottom: 4px;

            background-color: #fff;

            border: 1px solid #ccc;

            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin: 0 auto;
            }
        }
    }

    .image-column {
        img {
            width: 100%;
        }
    }
}
