.page-choice-awards {
    section:not(.section-header) {
        padding: 4rem 0;

        h1 {
            margin-bottom: 5rem;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 1rem;
            }
        }
    }

    .section-header {
        .image-column-2 {
            margin-top: 92%;
        }
    }

    .section-choice-awards {
        a.btn {
            margin: 4rem 0;
        }
    }

    .volume-icon-container-outer {
        background-color: #fff;

        padding: 3rem;
    }

    .volume-icon-container {
        img {
            width: 100%;
        }
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;

        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}