.page-choice-awards-winners {
    .copy-container {
        padding-top: 6rem;
    }

    .copy-container.on-right-side {
        padding-left: 4rem;
    }

    > section:nth-child(2n) {
        background-color: #F4F4F4;
    }

    .section-header {
        .image-column-2 {
            margin-top: 48%;
        }
    }

    .section-intro {
        .image-column-2 {
            margin-top: 95%;
        }

        .example-award-container {
            p {
                line-height: 1.4;
                margin-bottom: 5px;
            }
        }
    }

    .section-winners-builders {
        .image-column-1 {
            margin-top: 90%;
        }
    }

    .section-winners-individuals {
        .copy-container {
            padding-top: 10rem;
        }

        .image-column-1 {
            margin-top: 90%;
        }
    }
}
