@import '../variables';

.page.page-contact {
    .section-header {
        h4 {
            margin-bottom: 4px;

            line-height: 24px;
        }

        p {
            font-family: Armata, sans-serif;
            font-size: 16px;

            line-height: 24px;
        }

        .contact-information-container {
            margin-top: 20%;

            padding: 4rem 2rem;

            font-size: 18px;
            line-height: 1.4;

            a {
                color: #fff;
            }

            p {
                margin-bottom: 1.5rem;
            }
        }
    }

    .section-contact {
        padding-top: 5rem;
    }
}
