@import '../variables';
@import '../mixins';

.page.page-home {
    .section-header {
        @include bg-gradient();

        overflow: hidden;

        .header-images-container {
            position: relative;

            img {
                transition: .5s all ease-in-out;

                &:not(.activated) {
                    transform: scale(0, 0);
                }
            }

            img:last-child {
                position: absolute;
            }
        }

        h1 {
            margin-top: 7rem;
        }

        .text-container {
            padding: 21rem 12rem 0 0;
        }
    }

    .section-main {
        padding-top: 1rem;

        > section:nth-child(2n -1) {
            background-color: #f4f4f4;
        }

        > section:nth-child(2n) {
            background-color: #fff;
        }
    }

    [class^=subsection] {
        overflow: hidden;
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        .header-images-container {
            img:first-child {
                width: 400px;
            }

            img:last-child {
                width: 400px;
                left: 150px;
                top: 20px;
            }
        }

        .section-main [class^=col-xs] {
            padding-left: 1px;
            padding-right: 1px;
        }

        .image-survey-1 { margin-top: 0; }
        .image-survey-2 { margin-top: 8%; }
        .image-survey-3 { margin-top: 110%; }

        .subsection-social h3 { margin-top: 3rem }
        .image-social-1 { margin-top: 75%; }
        .image-social-2 { margin-top: 0; }
        .image-social-3 { margin-top: 105px; }

        .subsection-experience h3 { margin-top: 5rem; }
        .image-experience-1 { margin-top: 146px; }
        .image-experience-2 { margin-top: 0; }
        .image-experience-3 { margin-top: 65px; }

        .subsection-certification h3 { margin-top: 3rem; }
        .image-certification-1 { margin-top: 31px; }
        .image-certification-2 { margin-top: 33%; }
        .image-certification-3 { margin-top: 0; }

        .homebuyer-choice-2 { margin-top: 49%; }
        .homebuyer-choice-1 { margin-top: 26%; }
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        .header-images-container {
            img:first-child {
                width: 500px;
            }

            img:last-child {
                width: 500px;
                left: 200px;
                top: 20px;
            }
        }

        .section-main [class^=col-xs] {
            padding-left: 3px;
            padding-right: 3px;
        }

        .text-container {
            padding: 5rem 5rem 0 5rem;
        }
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        .header-images-container {
            img:first-child {
                width: 600px;
            }

            img:last-child {
                width: 600px;
                left: 225px;
                top: 20px;
            }
        }
    }
}
