.page.page-services {
    .section-header {
        .text-container {
            padding-right: 10rem;
        }
    }

    > section:nth-child(even) {
        background-color: #f4f4f4;
    }

    .section-success {
        .image-writing-2 {
            margin-top: 95%;
        }
    }

    .services-header-image-2 {
        margin-top: 50%;
    }

    .eliant-ceo-2 {
        margin-top: 75%;
    }

    .competitive-edge-1 {
        margin-top: 86%;
    }

    .get-training-2 {
        margin-top: 95%;
    }

    .copy-container {
        margin-top: 10rem;
    }
}
