.page-sponsors {
    padding-bottom: 0;

    > section:nth-child(2n) {
        background-color: #F4F4F4;
    }

    ul {
        li {
            margin-bottom: .5rem;
        }
    }

    > section:not(:first-child) {
        h1 {
            margin-bottom: 0;
        }

        h3 {
            margin-top: 0;

            font-size: 24px;

            color: rgba(#000, .5)
        }
    }

    .copy-container {
        margin-top: 6rem;
    }

    .hands-up-1 {
        margin-top: 50%;
    }

    .presents-2 {
        margin-top: 95%;
    }

    .silver-1 {
        margin-top: 95%;
    }

    .gold-1 {
        margin-top: 87%;
    }

    .platinum-1 {
        margin-top: 95%;
    }

    .victory-2 {
        margin-top: 85%;
    }

    .spotlights-1 {
        margin-top: 95%;
    }

    .modal {
        .modal-footer {
            text-align: center;
        }
        
        .form-group {
            position: relative;
        }

        .form-control {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid #ccc;
            box-shadow: none;
        }

        label {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);

            pointer-events: none;

            color: rgba(#000, .3);

            font-size: 11px;

            text-transform: uppercase;
        }
    }
}
