.page.page-surveys {
    padding-bottom: 0;

    .section-header {
        .services-header-image-2 {
            margin-top: 92%;
        }
    }

    > section {
        &:nth-child(2n) {
            background-color: #F4F4F4;
        }

        &:last-child {
            padding-bottom: 6rem;
        }
    }

    .top-pushed-down{
        margin-top: 45%;
    }

    .top-down-ninety{
        margin-top: 90%;
    }

    .top-down-ninetyfour{
        margin-top: 94%;
    }

    .top-down-thirty{
        margin-top: 30%;
    }

    .top-down-seventhree{
        margin-top: 73%;
    }

    .top-down-eighteen{
        margin-top: 18%;
    }


    .copy-column {
        padding-top: 10rem;

        img {
            height: 50px;

            margin-left: 3rem;
            margin-top: 2rem;
        }

        &:first-child {
            padding-right: 6rem;
        }

        &:last-child {
            padding-left: 6rem;
        }
    }

    .image-column {
        img {
            width: 100%;
        }
    }
}
