@import '../variables';

.page.page-testimonials {
    padding-bottom: 0;

    @media (min-width: 0) {
        .section-header {
            .image-testimonials-2 {
                margin-top: 49%;
            }
        }

        .section-testimonials {
            padding-top: 3rem;
            padding-bottom: 3rem;

            background-color: #F4F4F4;

            .testimonials-column {
                padding-left: 3px;
                padding-right: 3px;
            }

            .testimonial {
                background-color: #fff;

                padding: 1rem 2rem;

                margin-bottom: 1rem;

                img {
                    width: 100%;
                }

                blockquote {
                    padding: 1rem 0 0 0;

                    border-left: 0;

                    font-style: italic;

                    font-size: 17px;

                    line-height: 26px;

                    color: rgba(#000, .5);
                }

                .quote-info {
                    font-size: 13px;

                    line-height: 16px;

                    color: #666;
                }
            }

            .contact-form-container {
                padding: 1rem;

                background-color: #01AEBC;

                h3 {
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }

                a {
                    color: #fff;

                    &:hover {
                        color: #fff;
                    }
                }

                label {
                    color: #eee;
                }

                button {
                    color: #eee;

                    border-color: #eee;

                    margin-bottom: 2rem;
                }
            }
        }
    }

    @media (min-width: 480px) {
        .section-testimonials {
            //
        }
    }

    @media (min-width: 768px) {
        .section-testimonials {
            //
        }
    }

    @media (min-width: 992px) {
        .section-testimonials {
            //
        }
    }

    @media (min-width: 1200px) {
        .section-testimonials {
            //
        }
    }
}
