.modal-winners-list {
    .modal-content {
        background-color: #F4F4F4;
        border-radius: 0;
        padding: 3rem;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .winners-list {
        list-style: none;

        li {
            padding: 1rem 3rem;

            &:nth-child(odd):not(.bg-theme) {
                background-color: #EBEBEB;
            }
        }

        .spacer {
            height: 40px;
        }
    }

    h3 {
        margin-bottom: 3rem;
    }
}
