.page-faq {
    .section-header {
        .text-container {
            padding-right: 10rem;
        }

        .faq-header-1,
        .faq-header-2 {
            width: 100%;
        }

        .faq-header-2 {
            margin-top: 87%;
        }
    }

    .section-search {
        padding: 6rem 0;

        label {
            font-size: 16px;
            font-weight: 500;
        }
    }

    .search-input-container {
        position: relative;

        width: 300px;
        max-width: 100%;

        margin: 0 auto;
    }

    #faq-search-input {
        background-color: rgba(#000, .1);
        color: #fff;

        border: 0;
    }

    .fa.fa-search {
        display: block;

        position: absolute;
        top: 50%;
        right: 1rem;

        transform: translateY(-50%);

        font-size: 20px;

        cursor: pointer;
    }

    .section-questions {
        padding: 6rem 0;
    }

    .questions-container {
        .question-link {
            margin-bottom: 4rem;
        }
    }

    .question-answer {
        padding-bottom: 3rem;
    }

    .anchor {
        display: block;
        position: relative;
        top: -100px;
        visibility: hidden;
    }
}
