.page-testimonials {
    .testimonial {
        padding: 1rem;
        padding-bottom: 3rem;

        margin-bottom: 3rem;

        border-bottom: 1px solid #aaa;

        p {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        img {
            max-height: 100px;
            max-width: 100%;

            margin: 0 auto;
        }

        blockquote {
            margin-top: 3rem;
        }
        
        .quote-info {
            text-align: center;

            margin-bottom: 3rem;
        }
    }
}
