@import '../../variables';

.page-blog-index {
    .section-header {
        .image-column-1 {
            margin-top: 56%;
        }
    }

    .section-blog-list {
        padding-top: 3rem;
    }

    .blog-listing {
        padding: 3rem 0;

        &:nth-of-type(2n -1) {
            background-color: #F4F4F4;
        }
    }

    .subscribe-container {
        button {
            margin-bottom: 20px;
        }
    }

    .subscribe-container,
    .featured-posts {
        padding: 3rem;

        h4 {
            color: #4d4c4c;

            text-align: center;

            font-family: lora, serif;
        }
    }

    .subscribe-container {
        p {
            color: rgba(#fff, .75);

            margin: 3rem 0;
        }

        .btn.btn-action {
            background-color: #cceff2;
            color: $theme-color;
        }

        .form-control {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid #fff;
            box-shadow: none;
            border-radius: 0;
        }

        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: rgba(#fff, .8);
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: rgba(#fff, .8);
            opacity: 1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: rgba(#fff, .8);
            opacity: 1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgba(#fff, .8);
        }
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: rgba(#fff, .8);
        }
    }
}
