.page-blog-show {
    .section-header {
        h4 {
            font-size: 20px;
        }
    }

    .subscribe-container {
        padding: 2rem;

        p {
            margin-bottom: 5rem;
        }

        p:first-child {
            color: #000;
        }

        p:last-of-type {
            margin-bottom: 3rem;
        }

        .btn {
            background-color: rgba(#fff, .5);
        }
    }

    .blog-post-date {
        opacity: .5;
    }

    .share-links {
        a:not(:first-child) {
            margin-left: 1rem;
        }
    }

    .featured-posts {
        padding: 2rem;

        p:first-child {
            margin-bottom: 3rem;
        }
    }

    .section-blog-post {
        background-color: #F4F4F4;
    }

    article {
        margin-top: 6rem;

        > * {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        img {
            margin: 2rem auto 2rem auto;
            max-width: 100%;
            height: auto;
        }
    }
}
