.page-admin-testimonials-index {
    .sortable-entry {
        display: block;

        .fa {
            font-size: 20px;
        }
    }

    .testimonial-link {
        padding: 1rem;
    }

    .action-button {
        text-align: center;
    }

    .testimonial-edit-button {
        //
    }
}
