.page-dashboard {
    .dashboard-nav-link {
        width: 250px;

        border-radius: 0;

        white-space: normal;

        span {
            display: inline-block;

            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
