@import 'mixins';

.no-word-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-header .text-container {
    padding-top: 20rem;
    padding-right: 4rem;
}

.max-height {
    height: 100%;
}

.subheading {
    color: rgba(#000, .1);
    text-transform: uppercase;
}

.bg-theme {
    background-color: $theme-color;
    color: #fff;

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .btn.btn-action {
        color: #fff;

        border-color: #fff;

        &:hover {
            color: #fff;
        }
    }
}

.bg-gradient {
    @include bg-gradient();
}

.bg-gradient-reverse {
    @include bg-gradient(#eee, #e3e3e3);
}

.text-italic {
    font-style: italic;
}

.no-padding {
    padding: 0 !important;
}

.btn.btn-action {
    background-color: transparent;
    border-color: $theme-color;
    color: $theme-color;

    text-transform: uppercase;

    &:hover {
        border-color: lighten($theme-color, 10%);
        color: lighten($theme-color, 10%);
    }
}

.form-group {
    position: relative;
}

.form-control {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.row.low-margin {
    margin-left: -3px;
    margin-right: -3px;

    [class^="col-"],
    [class*=" col-"] {
        padding-left: 3px;
        padding-right: 3px;
    }
}

// Content sections
.text-container {
    color: rgba(#000, .8);

    h3 {
        margin-top: 0;
    }

    h4 {
        color: rgba(#000, .5);
        font-size: 24px;
    }
}

.text-container,
.copy-container,
.content-container {
    &.text-left,
    &.on-left-side {
        transition: 1s all ease-in-out;

        &:not(.activated) {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    &.text-right,
    &.on-right-side {
        transition: 1s all ease-in-out;
        opacity: 1;

        &:not(.activated) {
            transform: translateX(100%);
            opacity: 0;
        }
    }
}

.text-theme {
    color: $theme-color;
}

.vertical-center-container {
    text-align: center;

    // May want to do this if there is risk the container may be narrower than the element inside
    white-space: nowrap;
}

/* The ghost, nudged to maintain perfect centering */
.vertical-center-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */

    > * {
        display: inline-block;
        vertical-align: middle;
        width: 300px;
    }
}

.title-container {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.grid-image,
.image-column-1,
.image-column-2 {
    transition: 1s all ease-in-out;
    opacity: 1;
    width: 100%;
    height: auto;

    &:not(.activated) {
        transform: translateY(100%);
        opacity: 0;
    }
}

.picrise{
    transform: translateY(100%);
    transition: 1s all ease-in-out;
    opacity: 0;
    &.activate{
        transform: translateY(0%);
        opacity: 1;
    }
}

.fade-in-up {
    opacity: 1;

    transition: 1s all ease-in-out;

    &:not(.activated) {
        opacity: 0;

        transform: translateY(300px);
    }
}

.copy-container.on-left-side {
    padding-top: 4rem;
    padding-right: 4rem;
}

.copy-container.on-right-side {
    padding-top: 4rem;
    padding-left: 4rem;
}

@media (min-width: 768px) {
    .contains-animations {
        overflow: hidden;

        [class^=col-xs] {
            padding-left: 1px;
            padding-right: 1px;
        }
    }

    .text-container {
        font-size: 12px;
        padding: 1rem 0;
    }
}

@media (min-width: 992px) {
    .contains-animations [class^=col-xs] {
        padding-left: 3px;
        padding-right: 3px;
    }

    .text-container {
        font-size: 16px;

        line-height: 1.6;

        h3 {
            font-size: 40px;
        }
    }
}

@media (min-width: 1200px) {
    //
}

// End content sections