@import 'variables';

html,
body {
    height: 100%;
    min-width: 992px;
}

.page {
    height: 100%;

    padding-top: $nav-height;
    padding-bottom: 6rem;
}

.admin-page {
    padding-top: 24rem;
}

#wrapper {
    padding-bottom: 200px; /* Height of the footer */
    min-height: 100%;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px; /* Height of the footer */
    background: #6cf;
}
