// Fonts
@import url(https://fonts.googleapis.com/css?family=Armata);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);

@import 'variables';

// Includes
@import 'globals';
@import 'layout';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Partials
@import 'partials/menu';
@import 'partials/navbar';
@import 'partials/footer';
@import 'partials/contact-form';
@import 'partials/admin-nav';
@import 'partials/featured-posts';

@import 'partials/modals/winners-list';

// Pages
@import 'pages/faq';
@import 'pages/home';
@import 'pages/about';
@import 'pages/surveys';
@import 'pages/contact';
@import 'pages/services';
@import 'pages/sponsors';
@import 'pages/blog/show';
@import 'pages/blog/index';
@import 'pages/testimonials';
@import 'pages/choice-awards';
@import 'pages/choice-awards-winners';

// Admin
@import 'admin/common';
@import 'admin/dashboard';
@import 'admin/testimonials/index';
@import 'admin/winners-list/create';

body {
    font-family: "lora", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: lighten(#000, 30%);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    font-family: 'Armata', sans-serif;
}

h1 {
    font-size: 32px;
    line-height: 1.4;
}

a {
    color: $theme-color;
}

.width-25 {
    width: 25%;
}