@import '../variables';

.contact-form {
    .form-group {
        position: relative;
    }

    .form-control {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #ccc;
    }

    label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);

        pointer-events: none;

        color: rgba(#000, .3);

        font-size: 11px;

        text-transform: uppercase;
    }
}
