.featured-posts {
    background-color: #CCCCCC;
}

.featured-post {
    display: block;

    padding: .5rem;

    color: #000;

    font-size: 14px;
    line-height: 1.2;

    .fa-caret-right {
        display: inline-block;

        width: 20px;
        height: 20px;
        line-height: 20px;

        text-align: center;

        border-radius: 50%;

        color: #fff;

        background-color: $theme-color;
    }
}
