#footer {
    padding: 5rem 0;

    background-color: #000;

    color: #ccc;

    .footer-links {
        a {
            display: inline-block;

            margin-right: 2rem;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .fa {
            color: #ccc;

            &:hover,
            &:focus {
                color: #ccc;
            }
        }
    }
}
