#menu {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 100;

    .container-fluid {
        height: 100%;

        min-width: 992px;
    }

    .row {
        background-color: #1CAEBC;

        height: 33.3333333%;

        > [class^=col-] {
            height: 100%;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }
    }

    .row:nth-child(1) {
        transition: 1s transform ease-in-out;
    }

    .row:nth-child(2) {
        transition: 1.3s transform ease-in-out;
    }

    .row:nth-child(3) {
        transition: 1.15s transform ease-in-out;
    }

    &:not(.open) {
        .row:nth-child(1) {
            transform: translateX(-100%);
        }

        .row:nth-child(2) {
            transform: translateX(-130%);
        }

        .row:nth-child(3) {
            transform: translateX(-115%);
        }
    }

    .menu-close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;

        display: block;
        padding: 1rem;
        z-index: 1;
    }

    a {
        color: #fff;
    }

    .menu-link {
        display: block;

        height: 100%;

        text-align: center;

        font-size: 22px;

        > span {
            display: inline-block;

            position: relative;
            top: 50%;

            transform: translateY(-50%);
        }

        &.has-children {
            width: 50%;
            float: left;

            + ul {
                width: 50%;
                float: left;
            }
        }
    }

    .child-links {
        list-style: none;

        border-left: 2px solid #ccc;

        margin-bottom: 0;

        position: relative;
        top: 50%;

        transform: translateY(-50%);
    }
}
