@import '../variables';

#navbar {
    @media (min-width: 0) {
        background-color: #ADADAD;

        z-index: 100;

        height: $nav-height;

        border-bottom: 1px solid #ddd;

        min-width: 992px;

        .container {
            position: relative;
            z-index: 100;
        }

        .nav-brand-container-outer {
            width: $logo-width;
            margin-left: -15px;
        }

        .nav-brand-container {
            background-color: #000;

            height: 230px;

            transition: .4s height ease-out;

            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                width: 170px;

                transition: .4s all ease-out;
            }

            &.closed {
                padding: 0;
                height: 72px;
                overflow: hidden;

                img {
                    top: 15px;
                    transform: translateY(0);
                }
            }

            .phone-number-button {
                display: block;

                color: #fff;

                text-align: center;

                overflow: hidden;

                transition: .4s height ease-out;

                &:hover,
                &:focus {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        .menu-dropdown-button {
            position: absolute;
            top: 0;
            left: $logo-width;

            width: 120px;
            height: 71px;
            line-height: 71px;

            display: block;

            color: #fff;

            font-size: 14px;

            border-right: 1px solid #ccc;

            .menu-icon {
                height: 16px;

                position: relative;
                bottom: 1px;
            }

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        .eliant-portal-login-dropdown,
        .rate-trades-login-dropdown {
            position: absolute;
            top: $nav-height; // nav height
            left: 0;

            width: 100%;

            background-color: rgba(#000, .8);

            display: none;

            z-index: 1;
        }

        .login-dropdown {
            padding: 3rem;

            text-align: center;

            .panel {
                border-radius: 0;
                border: none;

                margin-bottom: 0;
            }

            .panel-heading {
                padding: 2rem;

                border-radius: 0;

                background-color: #fff;

                text-transform: uppercase;

                .panel-title {
                    font-size: 30px;
                }
            }

            .panel-body {
                padding: 8rem 0;

                background-color: #EBEBEB;
            }

            .form-control {
                width: 400px;
                max-width: 90%;

                display: inline-block;

                border-radius: 0;

                border: none;
            }

            .btn {
                width: 250px;

                padding-top: 1rem;
                padding-bottom: 1rem;

                color: $theme-color;

                border-color: $theme-color;

                background-color: #FBFBFB;

                text-transform: uppercase;
            }

            a {
                color: #aaa;

                text-transform: uppercase;
            }
        }

        .login-buttons-container {
            text-align: right;

            line-height: $nav-height;
            font-size: 1.5rem;

            a {
                color: #eee;

                &:hover {
                    color: #eee;
                }
            }
        }
    }

    @media (min-width: 768px) {
        //
    }

    @media (min-width: 992px) {
        //
    }

    @media (min-width: 1200px) {
        //
    }
}
