// Fonts
@import url(https://fonts.googleapis.com/css?family=Armata);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);

@import '../variables';
@import '../globals';

@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'partials/navbar';
@import 'partials/footer';
@import 'partials/menu';
@import '../partials/contact-form';

@import 'pages/testimonials';
@import 'pages/surveys';
@import 'pages/faq';

body {
    font-family: "lora", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: lighten(#000, 30%);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    font-family: 'Armata', sans-serif;
}

.max-height {
    height: 100%;
}

.vertical-center-content {
    > * {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.page {
    > section:nth-child(2n):not(.bg-theme) {
        background-color: #F4F4F4;
    }

    .section-image {
        width: 100%;
        max-width: 100%;
    }

    h1 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    p:last-child {
        margin-bottom: 3rem;
    }

    .container {
        padding: 0 34px;
    }
}

.text-theme {
    color: $theme-color;
}

.bg-theme {
    background-color: $theme-color;
    color: #fff;

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .btn.btn-action {
        color: #fff;

        border-color: #fff;

        &:hover {
            color: #fff;
        }
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
